.formBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
}



.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.top>a {
    cursor: pointer;
    background-color: var(--text);
    color: var(--bg);
    padding: 1rem;
    margin-right: 1rem;
}

.containerData h3 {
    text-align: center;
    margin: 1rem;
    font-size: 1.3rem;
    text-shadow: 1px 0 3px var(--black);
    letter-spacing: 1px;
}

.containerInfoOverall,
.containerAddress {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .8rem;
    justify-content: space-between;
    
}

.inputGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 200px;
    max-width: 350px;
}

.inputGroup>label {
    padding: 0 0.5em;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    color: var(--text);
    cursor: pointer;
    text-wrap: nowrap;

}

.inputGroup>input,
.inputGroup>select {
    padding: 10px;
    border: 2px solid #2e374a;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;

}

.inputGroup>input ::placeholder {
    color: #ccd;
}

/* .containerInfoOverall .box1 {
    grid-column: 1;
}

.containerInfoOverall .box2 {
    grid-column: span 2;
}

.containerInfoOverall .box3 {
    grid-column: span 2;
}

.containerInfoOverall .box4 {
    grid-column: 3;


} */

.containerInfoOverall .box5 {
    grid-column: 1;
}

.containerInfoOverall .box6 {
    grid-column: 3;
}



.containerAddress .box1 {
    grid-column: 1;
}

.containerAddress .box2 {
    grid-column: span 2;
}

.containerAddress .box3 {
    grid-column: 4;
}

.containerAddress .box4 {
    grid-column: span 2;
}

.containerAddress .box5 {
    grid-column: 2 span;
}

.containerAddress .box6 {
    grid-column: span 2;
}

.containerAddress .box7 {
    grid-column: 3;
}

.containerAddress .box8 {
    grid-column: 4;
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: .8rem;
    align-items: center;
}

.buttons>button {
    padding: 1.5rem;
    width: 100%;
    max-width: 200px;
    background-color: var(--text);
    color: var(--bg);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.errorMessage {
    color: rgb(253, 139, 139);
    font-size: .8rem;
}

/* @media screen and (max-width: 1500px){
    .containerInfoOverall,
    .containerAddress {
        display: flex;
        flex-direction: column;
        padding: .3rem;
    }
} */

@media screen and (max-width: 740px) {
    .top>a {
        font-size: .8rem;
    }

    .containerInfoOverall,
    .containerAddress {
        display: flex;
        flex-direction: column;
        padding: .3rem;
    }
}

@media screen and (max-width: 400px) {
    .top {
        flex-direction: column-reverse;
        margin-bottom: 1rem;

    }
}