.container {
    display: flex;
    width: 100vw;
    min-width: 100vw;
    height: 100%;
    overflow: hidden;
}

.activeSidebar{
    display: none;
}

.menuButton {
   visibility: hidden;
   
}

.menu {
    margin-right: 2rem;
    overflow-x: hidden;
    width: 80%;
    max-width: 300px;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 4;
    height: 100vh;
}



@media (max-width: 768px) {
    .menuButton {
        visibility: visible;
    }

    .menu {
        position: fixed;
        height: 100%;
        top: 0;
        left: -300px;
        overflow: auto;
        scrollbar-width: 3px;
        z-index: 99;
        transition: left 0.2s;
    }

    .menuButton {
        cursor: pointer;
        opacity: 0.8;
        padding: .5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        border-radius: 0 5px 5px 0;
        height: 3rem;
        width: 1.5rem;
        top: 0;
        transition: left 0.2s;
        left: 0;
        z-index: 100;
    }

    .menuButton svg {
        cursor: pointer;
        height: 60%;
        transform: rotate(180deg);
        transition: transform 0.2s;
    }

    .activeSidebar:checked ~ .menuButton svg {
        transform: rotate(0deg);
    }

    .activeSidebar:checked ~ .menu {
        left: 0;
    }

    .activeSidebar:checked ~ .menuButton {
        visibility: hidden;
    }

    .content {
        margin-left: 0;
    }
}

.wrapper {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
}

.main {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.side {
    flex: 1;
    display: flex;
    margin-top: 2rem;
}
